@media only screen and (max-width: 600px) {
    h1{
        max-width: 90%;
    }
    .title {
        display: inline;
        max-width: 15%;
    
        
        h3 {
            font-size: 18px; 
        }
     
    }

    .question {
        max-width: 65%;
        font-size: 12px;
    }

    .logo {
        max-width: 20%;
        
        
    }
   
    .svg-rotate__icon {
        height: 20px;
        width: 20px;
     
        }

}


